html, body {
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/*NAV BAR IGUAL DE TUDO*/
body {
    font-size: 18px;
    font-family: "Vibur", sans-serif;
}  
  
h1, h2 {
    text-align: center;
    font-weight: 400;
}
    
h1 {
    font-size: 4.2rem;
}
    
h2 {
    font-size: 1.8rem;
}
  
.cor-branco{
    color: white;
}

/*ATE AQ*/

.content {
    background-color:white;
    border-radius: 12px;
    width: 1000%;
    padding: 80px 40px;
    border: solid 4px black;
    overflow: hidden;
    position: relative;
    top: 270px;
    left: 560px;
    transform: translate(-50%, -50%);
    animation: anima-content;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}
.content:hover{
    border: solid 4.6px black;
    box-shadow: 0px 0px 2px 2px #fff,
    0px 0px 1px 1px black;
}

.navegation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
  box-shadow: 0 0 7px #000, 0 0 10px #fff;
    width: 70px;
    height: 19px;
    border: 2px solid #000;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
    display: flex;
}

.bar:hover {
    transform: scale(1.1);
    background-color: #000000;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}
.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

.tsobre{
    margin-left: 12%;
    font-size:80px;
    font-weight: bold;
    color: black;
    margin-right: 150px;  
    margin-top: 90px;
    overflow: hidden;
    animation: go-back 1s steps(160) normal;
    white-space:nowrap;
}

@keyframes go-back{
    from{
        transform: translate(60px);
    }
}
@keyframes c-b{
    from {
        transform: translatey(30px);
    }
    to {
        transform: translatey(-25px);
    }
}

.sobre{
    text-align: justify;
    margin-right: 200px;
    margin-left: 50%;
    margin-top: 15px;
    font-size: 18px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  
.Logo{
  width: 28%;
  margin-top: 20px;
  margin-left: 10%;
  padding: 105px 20px;
  background-size: 100px 80px;
  display: block;
  float: left;
  animation: c-b 2s  infinite alternate;
}

.fundo2{
    border-right: 2px solid rgb(255, 255, 255);
    padding: -300px -1000px;
    background-color: #000  ;
    margin-left: -7px;
    margin-right: 0px;
    margin-top: -170px;
}

.sem-borda{
    border: transparent solid 2px;
}

.footer {
    position: relative;
    margin-bottom: -750px;
    bottom: 0;
    background-color: black;
    color: #FFF;
    width: 100%;
    height: 170px;    
    text-align: center;
}

.t-esquerda{
    position: relative;
    text-align: left;
    top: 15px;
    margin-bottom: 30px;
    line-height: 50px;
    margin-left: 70px;
}
 .esquerda{
    text-align: justify;
    text-align: left;
    margin-bottom: 20px;
    line-height: 10px;
    margin-left: 100px;
}


.sobre2{
    text-align: justify;
    margin-right: 12%;
    margin-left: 10%;
    margin-top: 55px;
    font-size: 18px;
}

::-webkit-scrollbar{
  width: 20px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 50px;  
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.800)
}

::-webkit-scrollbar-track{
  box-shadow: inset 0px 1px 2px rgb(109, 107, 107);
  border-radius: 50px;
}

.box{
    box-shadow: 
    0 0 15px #000;
    margin-top: 90px;
}

.homequiz{
    width: 30%;
    margin-top: 70px;
    margin-left: 75%;
    padding: -50px -140px;
    background-size: 100px 80px;
    float: right;
    opacity: 70%;
    animation: a-b 3s infinite 2s normal;
    overflow: hidden;
    white-space: nowrap;
}

.homeqiz:hover{
    transform: translatex(15px), 
    translatex (-0px);
}

.navFooterBackToTop{
    position: relative;
    margin-top: 740px;
    margin-bottom: 0px;
    bottom: 0px;
    background-color: black;
    color: #FFF;
    width: 100%;
    height: 60px;    
    text-align: center;
    text-decoration: none;
    background-color: black;
}
  
.navFooterBackToTop:hover{
    text-decoration: underline;
    background-color: black;  
}
  
.navFooterBackToTopText{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
  
.navFooterBackToTopText:hover{
    text-decoration: none;
    background-color: black;
}

.logo2{
    position: absolute;
    margin-top: 110px;
    left: 85%;
    top: -70px;
    height: 130px;
}

